# **The first Lab-assignment (07/15/2022 11:59'AM' to 7/19/2022 11:59PM, 50 points in total)**

(1) Write a Python program to count the number of characters in a string. (6 points)

Sample String : 'google.com', 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [1]:
import collections
r =  'google.com'
out = collections.Counter(r)
print(out)

Counter({'o': 3, 'g': 2, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1})

(2) Write a Python program to sum all the items in a list. (6 points)

In [2]:
i = [26,89,3,9]
print("Sum : ",sum(i))

Sum :  127

(3) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (6 points)

Sample String : 'restart', 

Expected Result : 'resta\$t'

In [3]:
st= 'restart'
out1=st[0] + st[1:].replace(st[0],'$')
print(out1)

resta$t

(4) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (6 points)

In [4]:
a = 4
b = 5


c= 3.14*(1+a/b)**3
print(c)

18.312480000000004

(5) Write a Python program to concatenate following dictionaries to create a new one. (6 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [5]:

dic1={1:40, 2:120}
dic2={3:320, 4:140}
dic3={5:150,6:560}
Com= {**dic1,**dic2,**dic3} 
Com

{1: 40, 2: 120, 3: 320, 4: 140, 5: 150, 6: 560}

(6) Write a Python program to check whether an element exists within a tuple. (6 points)

In [6]:
s=(0,1,3,4,5,6,3,4,5,5)

print(1 in s)

True

(7) Write a Python program to find maximum and the minimum value in a set. (6 points)

In [7]:
e = {7,4,3,5,6,7,3}
print("The max number  ",max(e))
print("The min number  ",min(e))

The max number   7
The min number   3

(8) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (8 points)

In [8]:
arr=[1,12,4,3]
p=0
for i in range(0,len(arr)):
    for j in range (i+1,len(arr)):
        if arr[i]==arr[j]:
            print("There are Duplicate values",arr[i])
            p=1
        else:
            if p!= 1:
                p=-1
if p== -1:
    print(p)

-1