# **The second Lab-assignment (07/19/2022 11:59'AM' - 07/22/2022 11:59PM, 50 points in total)**

# Question 1

(5 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [ ]:
from random import randint
from statistics import mean

In [ ]:
d = []
for i in range(12):
        d.append(randint(1,100))
print(" Random Numbers   ",d)

 Random Numbers   [14, 95, 16, 29, 1, 71, 14, 83, 6, 9, 69, 30]

In [ ]:
d.sort()
print("Ascending order ",d)
d.sort(reverse =True)
print("Decending order ",d)
print(' Average  ',round(mean(d),2))

Ascending order  [1, 6, 9, 14, 14, 16, 29, 30, 69, 71, 83, 95]
Decending order  [95, 83, 71, 69, 30, 29, 16, 14, 14, 9, 6, 1]
 Average   36.42

# Question 2 

(5 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [ ]:
# Your code here

from math import pi
V = 0
print('r       V')
for r in range(1,10):
  V = 4/3 * pi * r ** 3

  print('{}       {}'.format(r,V))

r       V
1       4.1887902047863905
2       33.510321638291124
3       113.09733552923254
4       268.082573106329
5       523.5987755982989
6       904.7786842338603
7       1436.7550402417319
8       2144.660584850632
9       3053.6280592892786

# Question 3

(40 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [lab_assignment_02_denton_housing.csv](https://github.com/suthapalliuday/INFO5502-Summer2022/blob/main/datasets/lab_assignment_02_denton_housing.csv) included with this assignment. The file [lab_assignment_02_denton_housing.csv](https://github.com/suthapalliuday/INFO5502-Summer2022/blob/main/datasets/lab_assignment_02_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [ ]:
import pandas as pd
from scipy import stats


df= pd.read_csv("lab_assignment_02_denton_housing.csv")

k=df.groupby(['year']).sum()
k = pd.DataFrame(k)
k['value_diff'] = k['value'].diff()
k

       value  value_diff
year
2008  119867         NaN
2009  115683     -4184.0
2010  131071     15388.0
2011  131359       288.0
2012  133192      1833.0
2013  140336      7144.0
2014  145418      5082.0

In [ ]:
#2
import pandas as pd
import statistics

In [ ]:

T = df.loc[df['title_field'] == 'Total Housing Units']
O = df.loc[df['title_field'] == 'Occupied Housing Units']

res = T.merge(O, on='year', how='inner')
res['Occupied  Units'] = round(((res['value_y']/res['value_x'])*100)).astype(str) + '%'
res['Vacant  Units'] = round(((res['value_x'] - res['value_y'])/res['value_x'])*100).astype(str) + '%'
res.drop(['title_field_x','value_x', 'title_field_y', 'value_y'],axis = 1, inplace = True )
res.rename(columns={'year': 'YEAR'}, inplace = True)
print(res.sort_values(by='YEAR', ascending=True).to_string(index=False))

 YEAR Occupied  Units Vacant  Units
 2008           89.0%         11.0%
 2009           91.0%          9.0%
 2010           92.0%          8.0%
 2011           91.0%          9.0%
 2012           93.0%          7.0%
 2013           91.0%          9.0%
 2014           94.0%          6.0%

In [ ]:
#3

In [ ]:
Vacant = df[df['title_field'] == 'Vacant Housing Units'].sort_values(by='value', ascending=False).head(1)
Occupied = df[df['title_field'] == 'Occupied Housing Units'].sort_values(by='value',ascending=False).head(1)

In [ ]:
result = pd.concat([Vacant, Occupied])
result = result[['title_field','year','value']]
result

               title_field  year  value
19    Vacant Housing Units  2008   4483
2   Occupied Housing Units  2014  46295

In [ ]:
#4

In [ ]:
from scipy.stats.mstats import hmean
X = df.loc[df['title_field'] == 'Total Housing Units'].groupby('title_field').value.apply(hmean)

In [ ]:
print('Harmonic mean',X)

Harmonic mean title_field
Total Housing Units    44398.28544
Name: value, dtype: float64